:root {
  --color-title: #3a52a1;
  // light theme
  --color-bkg: #ffffff;
  --color-fill: #3a52a1;
  --color-fill-light: #fbd16e;
  --color-text: #292929;
  --color-link: #003ffc;
  --menu-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  --header-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.25);
  --event-card-shadow: 4px 6px 15px 0px rgba(0, 0, 0, 0.25);
  // dark theme for fun
}
[data-theme='dark'] {
  :root {
    --color-bkg: #FF0000;
    --color-title: #e84040;
    --color-fill: #607fdd;
    --color-fill-light: lighten($color-fill, 20%);
    --color-text: #e4e4e4;
    --color-link: #f8b10b;
    --menu-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    --header-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.5);
    --event-card-shadow: 4px 6px 15px 0px rgba(0, 0, 0, 0.5);
  }
}

$footer-height: 70px;
$menu-icons-width: 65px;
$menu-links-width: 115px;
$menu-transtion-time: 0.2s;
$ham-width: 33px;
$ham-margin-top-bottom: 6px;
$ham-line-height: 4px;

$breakpoints: (
  'phone': 420px,
  'tablet': 768px,
  'desktop': 1024px,
  'xlarge': 1920px
);

// map theme css variable to sass variable
$color-title: var(--color-title);
$color-bkg: var(--color-bkg);
$color-fill: var(--color-fill);
$color-fill-light: var(--color-fill-light);
$color-text: var(--color-text);
$color-link: var(--color-link);
$menu-shadow: var(--menu-shadow);
$header-shadow: var(--header-shadow);
$event-card-shadow: var(--event-card-shadow);

// map css variables that are needed for js to sass variables
$header-height: 80px;
