.menu {
  position: fixed;
  top: $header-height;
  height: calc(100vh - #{$header-height});
  box-shadow: $menu-shadow;
  background-color: $color-bkg;
  transition: $menu-transtion-time ease-out;
  display: flex;
  min-width: $menu-icons-width;

  @include media('<tablet') {
    background-color: $color-fill-light;
    transform: translateX(-$menu-opened-width);
    box-shadow: none;
    color: red;
  }
  #menu-toggle:checked ~ & {
    @include media('<tablet') {
      transform: translateX(0);
    }
  }
  .menu-icons {
    @include distribute-vertically();
    width: $menu-icons-width;
    @include centerIcon(2rem);
    &:hover ~ .menu-names {
      width: $menu-opened-width - $menu-icons-width;
      h2 {
        transform: scaleX(1);
      }
    }
  }

  .menu-names {
    @include distribute-vertically();
    transition: $menu-transtion-time ease-out;
    width: 0;
    @include media('<tablet') {
      width: $menu-opened-width - $menu-icons-width;
      transform: scaleX(1);
    }

    h2 {
      transform-origin: 0;
      transition: $menu-transtion-time ease-out;
      transform: scaleX(0);
      @include media('<tablet') {
        transform: scaleX(1);
      }
    }

    #menu-toggle:checked ~ &,
    &:hover {
      width: $menu-opened-width - $menu-icons-width;
      h2 {
        transform: scaleX(1);
      }
    }
  }
}
