@mixin margin-shift-menu {
  margin-left: $menu-icons-width;
  transition: $menu-transtion-time ease-out;
  width: calc(100% - #{$menu-icons-width});
  @include media('<tablet') {
    width: 100%;
    margin-left: 0;
  }
  #menu-toggle:checked ~ & {
    width: calc(100% - #{($menu-links-width + $menu-icons-width)});
    margin-left: ($menu-links-width + $menu-icons-width);
    @include media('<tablet') {
      width: 100%;
      margin-left: 0;
    }
  }
}

@mixin header-common {
  width: 100vw;
  background-color: $color-bkg;
  position: fixed;
  top: 0;
  height: $header-height;
}

@mixin distribute-vertically {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@mixin main-common {
  top: $header-height;
  position: relative;
  z-index: -1;
}

@mixin centerIcon($iconSize: 1rem, $iconPad: 0, $iconMarg: 0, $color: inherit) {
  i {
    margin: 0;
    width: 100%;
    text-align: center;
    display: table;
    padding: $iconPad;
    margin: $iconMarg;
  }
  i::before {
    font-size: $iconSize;
    display: table-cell;
    color: $color;
  }
}

@mixin eventCard($mini, $showImg) {
  .eventCard {
    width: 100%;
    display: flex;
    margin: 25px 0;
    box-shadow: $event-card-shadow;
    padding: 30px;
    border-radius: 15px;
    @if mini == true {
      max-width: 300px;
    }
    @include media('<tablet') {
      max-width: initial;
      flex-direction: column;
    }

    &-info {
      flex: 3;
      display: flex;
      flex-direction: column;
    }

    &-date {
      color: $color-fill;
      @if mini = true {
        font-size: 1.3rem;
      }
    }

    &-name {
      margin: 15px 0;
      color: $color-title;
      @if mini = true {
        font-size: 1.5rem;
      }
    }

    picture {
      @if $showImg == true {
        flex: 1;
        margin: auto 20px;
        @include media('<tablet') {
          margin: 20px auto;
        }

        img {
          width: 100%;
        }
      } @else {
        display: none;
      }
    }
  }
}
