<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{ $style := resources.Get "sass/base.scss" | resources.ToCSS}}
    <link
      href="https://fonts.googleapis.com/css?family=Manjari&display=swap"
      rel="stylesheet"
    />

    <link href="{{$style.Permalink}}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="flaticon/flaticon.css" />
    <script
      src="https://kit.fontawesome.com/d1e9081e05.js"
      crossorigin="anonymous"
    ></script>

    <title>{{ with $.Page.Title}}{{.}} - {{end}}{{ $.Site.Title}}</title>
  </head>
  <body>
    <div class="header-shadow"></div>
    <input type="checkbox" id="menu-toggle" />
    <header>
      <a href="/"><h1>{{$.Site.Title}}</h1> </a>
    </header>
    <div id="overlay"></div>
    <label for="menu-toggle">
      <span></span>
      <span></span>
      <span></span>
    </label>

    <div class="menu">
      <div class="menu-icons">
        {{range $.Site.Menus.main}}
        <a href="/{{.Name}}"><i class="{{.Pre}}"></i> </a>{{end}}
      </div>
      <div class="menu-names">
        {{range $.Site.Menus.main}}
        <a href="/{{.Name}}"><h2>{{.Name}}</h2></a>{{end}}
      </div>
    </div>
    <main>
      <div class="image"></div>
      {{ block "title" . }}
      <h1>{{.Page.Title}}</h1>
      {{ end }} {{ block "content" . }}
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
        culpa ex veniam exercitationem nesciunt, enim laboriosam est odit
        tempore animi, voluptatibus quis quos sint id! Consectetur, accusamus?
        Officiis facere laudantium laboriosam commodi tempore, odit dolores,
        itaque ab nisi veritatis ducimus illum ratione. Accusamus, dolore
      </p>
      {{ end }}
    </main>

    <footer>
      <h1>
        {{ with .Param "mails"}} Curiosità? Scrivi a
        <a href="mailto:{{.info}}" target="_blank">{{.info}}</a>{{end}}
      </h1>
      <i class="far fa-envelope" id="mail"></i>
      <div id="socials">
        {{with .Param "socials" }}{{range .}}<a href="{{.link}}" target="_blank"
          ><i class="{{.icon}}"></i></a
        >{{end}}{{end}}
      </div>
    </footer>
  </body>
</html>
