<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{ $style := resources.Get "sass/base.scss" | resources.ToCSS}}
    <link
      href="https://fonts.googleapis.com/css?family=Manjari&display=swap"
      rel="stylesheet"
    />

    <link href="{{$style.RelPermalink}}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/flaticon/flaticon.css" />
    <script
      src="https://kit.fontawesome.com/d1e9081e05.js"
      crossorigin="anonymous"
    ></script>

    <title>{{ with $.Page.Title}}{{.}} - {{end}}{{ $.Site.Title}}</title>
  </head>
  <body class="no-display">
    <input type="checkbox" id="menu-toggle" />
    <script>
      // script to save menu state for better UX
      // it is inside the html for better perfornmance
      const body = document.querySelector('body');
      const checkBox = document.getElementById('menu-toggle');
      checkBox.checked = localStorage.getItem('mlatMenu') === 'open';
      body.classList.remove('no-display');
      checkBox.addEventListener('change', () => {
        localStorage.setItem('mlatMenu', checkBox.checked ? 'open' : 'closed');
      });
    </script>

    <header>
      <a href="/"><h1>{{$.Site.Title}}</h1> </a>
    </header>
    <div class="header-shadow"></div>
    <div id="overlay"></div>
    <label for="menu-toggle">
      <span></span>
      <span></span>
      <span></span>
    </label>

    <div class="menu">
      <div class="menu-icons">
        {{range $.Site.Menus.main}}
        <a href="{{.URL}}"><i class="{{.Pre}}"></i> </a>{{end}}
      </div>
      <div class="menu-names">
        {{range $.Site.Menus.main}}
        <a href="{{.URL}}"><h2>{{.Name}}</h2></a>{{end}}
      </div>
    </div>
    <div class="centermain">
      <main>
        <div class="image"></div>
        {{ block "title" . }}
        <h1 class="page-title">{{.Page.Title}}</h1>
        {{ end }} {{ block "content" . }} {{ end }}
      </main>
    </div>

    <footer>
      <h1>
        {{ with .Param "mails"}} Curiosità? Scrivi a
        <a href="mailto:{{.info}}" target="_blank">{{.info}}</a>{{end}}
      </h1>
      <i class="far fa-envelope" id="mail"></i>
      <div id="socials">
        {{with .Param "socials" }}{{range .}}<a href="{{.link}}" target="_blank"
          ><i class="{{.icon}}"></i></a
        >{{end}}{{end}}
      </div>
    </footer>
    <script src="/index.js"></script>
  </body>
</html>
