{{ define "title"}}
<!-- empty -->
{{end}} {{ define "content"}}
<!--  prettier-ignore -->
{{$audiences := sort  .Resources ".Weight" }}
{{$audIds := slice  }}
{{ range $audiences }}
{{ $audIds = $audIds | append (.Param "id")  }}
{{ end }}
 {{ $educationJS := resources.Get "js/education.js" | js.Build (dict "params" (dict "audIds" $audIds)) | minify | fingerprint}}
<script
  defer
  src="{{$educationJS.RelPermalink}}"
  integrity="{{ $educationJS.Data.Integrity }}"
></script>
<div class="education">
  {{$idxObj := .}}

  <div class="education-step start-msg">
    <a id="start-msg" class="step-anchor"></a>
    <div class="progress-indicator no-visibility">
      <div class="progress-line"></div>
    </div>
    <div class="step-info">
      <h2>{{.Title}}</h2>
      {{.Content}}

      <div
        style="display: flex; width:80%; flex-wrap: wrap; justify-content: space-around;"
      >
        {{range $audiences}}

        <button id="{{.Title}}" class="pill education-audience-selector ">
          <h3>{{.Title}}
</h3>
        </button>
        {{end}}

      </div>
    </div>
  </div>
  <!--  prettier-ignore -->

  {{$areaIcons := .Param "activityAreaIcons"}}
  {{range $audIdx,$aud := $audiences}}
  {{range $areaIdx, $area := ($idxObj.Param "activityAreas")}}
  {{$activities := $aud.Param "activities"}}
  {{$areaActivites := where $activities ".area" $area}}
  {{range $actIdx, $act :=  $areaActivites}}
  {{$step := add $actIdx 1}}

  <div class="education-step no-display {{ $aud.Param "id" }}">
    <a
      id="{{$audIdx}}-{{$area}}-{{$step}}"
      class="step-anchor {{ $aud.Param "id" }}"
    ></a>
    <div class="progress-indicator">
      {{if eq $step 1}}
 <i class="{{index $areaIcons $areaIdx}}"></i>
      <div class="progress-line start"></div>
      {{else if eq $step (len $areaActivites)}}

      <div class="progress-line end"></div>
      {{else}}

      <div class="progress-line"></div>
      {{end}}

    </div>
    <div class="step-info">
      <h2>{{.min}} min - {{$area}} - {{.title}}</h2>
      <div class="step-info-content">
        <p>{{.content}}
</p>

        <div class="step-info-img">
          <!--  prettier-ignore -->
          {{$assetImgPath := (printf "images/didattica/%s/%d" $area $step )}}
        {{ $pics := readDir (printf "assets/%s" $assetImgPath) }}

          <!--  prettier-ignore -->
          {{range $pics}}{{partial "image.html" (dict "path" (printf "%s/%s" $assetImgPath .Name ))}}{{end}}

        </div>
      </div>
    </div>
  </div>
  {{end}}
 {{end}}
 {{end}}

  <div class="education-step end-msg">
    <a id="end-msg" class="step-anchor"></a>
    <div class="progress-indicator no-visibility">
      <div class="progress-line"></div>
    </div>
    <div class="step-info">
      <h2>Se hai bisogno di altre info contattaci!</h2>
      <p>
        {{ with $.Site.Param "mails"}} Scrivi a
        <a href="mailto:{{.info}}" target="_blank">{{.info}}</a>{{end}}

      </p>
    </div>
  </div>
  <div id="education-current-selected" class="pill z200">
    <h3></h3>
    <i class="flaticon-cancel"></i>
  </div>

  <div class="education-navigator-container">
    <div class="education-navigator">
      <!-- only way I managed to center the icon is with padding -->
      <div id="arrow-up" class="arrow no-visibility" style="padding-top: 11px;">
        <i class="flaticon-null-1"></i>
      </div>
      <div class="education-navigator-icons">
        <a href="#start-msg" class="education-navigator-icon">
          <i class="flaticon-info"></i>
        </a>

        {{$areaIcons := .Param "activityAreaIcons"}}

        {{range $audIdx,$aud := $audiences}}

        {{range $areaIdx, $area := ($idxObj.Param "activityAreas")}}

        {{$activities := $aud.Param "activities"}}

        {{$areaActivites := where $activities ".area" $area}}

        {{range $actIdx, $act :=  $areaActivites}}
 {{$step := add $actIdx 1}}

        <a
          href="#{{$audIdx}}-{{$area}}-{{$step}}"
          class="education-navigator-icon no-display {{$aud.Param "id"}}"
        >
          <i class="{{.icon}}"></i> </a
        >{{end}}{{end}}
 {{end}}

        <a href="#end-msg" class="education-navigator-icon">
          <i class="flaticon-email"></i>
        </a>
      </div>
      <!-- only way I managed to center the icon is with padding -->
      <div id="arrow-down" class="arrow" style="padding-top: 13px;">
        <i class="flaticon-null"></i>
      </div>
    </div>
  </div>
</div>
{{end}}
