{{ define "title"}}
<!--empty to ovveride-->
{{end}} {{ define "content"}}
<!--  prettier-ignore -->
<script defer src="/events.js"></script>
{{$today := replace (substr now 0 10 ) "-" ""}}
<div class="events">
  {{$futureEvents := sort (where .Resources "Name" ">=" $today) "Name" "desc"}}
  {{if ne (len $futureEvents) 0}}
  <h1 class="page-title">Eventi futuri</h1>
  <!--  prettier-ignore -->
  {{range $futureEvents }}
  <!--  prettier-ignore -->
  {{ partial "eventCard" (dict "title" .Title "content" .Content "place"  .Params.place "id" .File.BaseFileName) }}
  {{end}}
  {{end}}
  <h1 class="page-title">Eventi passati</h1>
  {{$pastEvents := sort (where .Resources "Name" "<" $today) "Name" "desc" }}
  {{if ne (len $pastEvents) 0}} {{range $pastEvents}}
  <!--  prettier-ignore -->
  {{ partial "eventCard" (dict "title" .Title "content" .Content "place"  .Params.place "id" .File.BaseFileName) }}
  {{end}}
  {{end}}
</div>
{{end}}
