{{ define "content"}}
<!--  prettier-ignore -->
{{$nowFormatted := replace (substr now 0 10 ) "-" ""}}
<div class="events">
  Eventi futuri
  <!--  prettier-ignore -->
  {{range (sort (where .Resources "Name" ">=" $nowFormatted) "Name" "desc") }}
  <!--  prettier-ignore -->
  {{ partial "eventCard" (dict "title" .Title "content" .Content "place"  .Params.place "id" .File.BaseFileName) }}
  {{end}}
Eventi passati
  {{range (sort (where .Resources "Name" "<" $nowFormatted) "Name" "desc") }}
  <!--  prettier-ignore -->
  {{ partial "eventCard" (dict "title" .Title "content" .Content "place"  .Params.place "id" .File.BaseFileName) }}
  {{end}}
</div>
{{end}}
