{{ define "title"}}
<!--empty-->
{{end}} {{ define "content"}}
<!--  prettier-ignore -->
{{$today := replace (substr now 0 10 ) "-" ""}}
<div class="events">
  <h1 class="page-title">Eventi futuri</h1>
  <!--  prettier-ignore -->
  {{range (sort (where .Resources "Name" ">=" $today) "Name" "desc") }}
  <!--  prettier-ignore -->
  {{ partial "eventCard" (dict "title" .Title "content" .Content "place"  .Params.place "id" .File.BaseFileName) }}
  {{end}}
  <h1 class="page-title">Eventi passati</h1>
  {{range (sort (where .Resources "Name" "<" $today) "Name" "desc") }}
  <!--  prettier-ignore -->
  {{ partial "eventCard" (dict "title" .Title "content" .Content "place"  .Params.place "id" .File.BaseFileName) }}
  {{end}}
</div>
{{end}}
