{{define "content"}}

<div class="home">
  <div class="info">
    <img class="logo" src="logo.svg" />
    <p id="motto">
      {{ with .Param "motto"}}{{.}}{{end}}
    </p>
    <h2>CHI SIAMO</h2>
    {{ .Content }}
    <div class="home-imgs">
      <!--  prettier-ignore -->
      {{ range $i, $sequence :=  (seq 3) }}
      {{ partial "image.html" (dict "path" ($sequence | printf "images/home%d.*") "alt" ($sequence | printf "home pic %d.*")) }}
      {{ end }}
    </div>
  </div>
  <div class="lastEvents">
    {{$eventPage := .GetPage "eventi"}}
    <!--  prettier-ignore -->
    {{range first 2 ($eventPage.Resources)}}
    {{ partial "eventCard" (dict "title" .Title "content" .Content "place" .Params.place "id" .File.BaseFileName "mini" true) }}
    {{end}}
  </div>
</div>

{{end}}
