$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?632179692c517f8ba46e445a9f173894") format("truetype"),
url("./flaticon.woff?632179692c517f8ba46e445a9f173894") format("woff"),
url("./flaticon.woff2?632179692c517f8ba46e445a9f173894") format("woff2"),
url("./flaticon.eot?632179692c517f8ba46e445a9f173894#iefix") format("embedded-opentype"),
url("./flaticon.svg?632179692c517f8ba46e445a9f173894#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "flood": "\f101",
    "earthquake": "\f102",
    "team": "\f103",
    "partner": "\f104",
    "education": "\f105",
    "calendar": "\f106",
    "shapes-and-symbols": "\f107",
    "business": "\f108",
    "null": "\f109",
    "null-1": "\f10a",
    "more": "\f10b",
    "info": "\f10c",
    "jigsaw": "\f10d",
    "email": "\f10e",
    "video-camera": "\f10f",
    "share": "\f110",
    "unlink": "\f111",
    "cancel": "\f112",
    "right-arrow": "\f113",
    "computer": "\f114",
);

.flaticon-flood:before {
    content: map-get($flaticon-map, "flood");
}
.flaticon-lego:before {
    content: map-get($flaticon-map, "lego");
}
.flaticon-earthquake:before {
    content: map-get($flaticon-map, "earthquake");
}
.flaticon-team:before {
    content: map-get($flaticon-map, "team");
}
.flaticon-partner:before {
    content: map-get($flaticon-map, "partner");
}
.flaticon-education:before {
    content: map-get($flaticon-map, "education");
}
.flaticon-calendar:before {
    content: map-get($flaticon-map, "calendar");
}
.flaticon-shapes-and-symbols:before {
    content: map-get($flaticon-map, "shapes-and-symbols");
}
.flaticon-business:before {
    content: map-get($flaticon-map, "business");
}
.flaticon-null:before {
    content: map-get($flaticon-map, "null");
}
.flaticon-null-1:before {
    content: map-get($flaticon-map, "null-1");
}
.flaticon-more:before {
    content: map-get($flaticon-map, "more");
}
.flaticon-info:before {
    content: map-get($flaticon-map, "info");
}
.flaticon-jigsaw:before {
    content: map-get($flaticon-map, "jigsaw");
}
.flaticon-email:before {
    content: map-get($flaticon-map, "email");
}
.flaticon-video-camera:before {
    content: map-get($flaticon-map, "video-camera");
}
.flaticon-share:before {
    content: map-get($flaticon-map, "share");
}
.flaticon-unlink:before {
    content: map-get($flaticon-map, "unlink");
}
.flaticon-cancel:before {
    content: map-get($flaticon-map, "cancel");
}
.flaticon-right-arrow:before {
    content: map-get($flaticon-map, "right-arrow");
}
.flaticon-computer:before {
    content: map-get($flaticon-map, "computer");
}
