@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?efa6b19538fd3993bc9d3666a98643a4") format("truetype"),
url("./flaticon.woff?efa6b19538fd3993bc9d3666a98643a4") format("woff"),
url("./flaticon.woff2?efa6b19538fd3993bc9d3666a98643a4") format("woff2"),
url("./flaticon.eot?efa6b19538fd3993bc9d3666a98643a4#iefix") format("embedded-opentype"),
url("./flaticon.svg?efa6b19538fd3993bc9d3666a98643a4#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-flood:before {
    content: "\f101";
}
.flaticon-earthquake:before {
    content: "\f102";
}
.flaticon-team:before {
    content: "\f103";
}
.flaticon-partner:before {
    content: "\f104";
}
.flaticon-education:before {
    content: "\f105";
}
.flaticon-calendar:before {
    content: "\f106";
}
.flaticon-shapes-and-symbols:before {
    content: "\f107";
}
.flaticon-business:before {
    content: "\f108";
}
.flaticon-null:before {
    content: "\f109";
}
.flaticon-null-1:before {
    content: "\f10a";
}
.flaticon-more:before {
    content: "\f10b";
}
.flaticon-info:before {
    content: "\f10c";
}
.flaticon-jigsaw:before {
    content: "\f10d";
}
.flaticon-email:before {
    content: "\f10e";
}
.flaticon-video-camera:before {
    content: "\f10f";
}
.flaticon-share:before {
    content: "\f110";
}
.flaticon-coding:before {
    content: "\f111";
}
.flaticon-unlink:before {
    content: "\f112";
}
.flaticon-cancel:before {
    content: "\f113";
}
