footer {
  @include main-common();
  height: $footer-height;
  background-color: $color-fill;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include margin-shift-menu;
  transition: $menu-transtion-time ease-out;
  padding: 20px;
  h1 {
    font-size: 1.3rem;
    color: $color-text;
    @include media('<tablet') {
      display: none;
    }
    a {
      color: $color-link;
    }
  }
  #mail {
    display: none;
    @include media('<tablet') {
      display: inline;
    }
  }
  i {
    color: $color-link;
    font-size: 2.2rem;
    margin: 0.5rem;
  }
  #logo-poli {
    display: flex;
    flex-direction: column;
    justify-content: center;
    img {
      margin: auto;
      height: $footer-height - 20;
      order: 1;
    }
    @include media('<tablet') {
      order: 3;
    }
  }
  #socials {
    order: 2;
  }
}
