nav {
  position: fixed;
  top: $header-height;
  height: calc(100% - #{$header-height});
  background-color: $color-bkg;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: $menu-shadow;
  transition: $menu-transtion-time ease-out;
  width: $menu-icons-width;
  overflow: hidden;

  #menu-toggle:checked ~ &,
  &:hover {
    width: calc(#{$menu-icons-width} + #{$menu-links-width});
  }

  @include media('<tablet') {
    transform: translateX(-$menu-links-width - $menu-icons-width);
    background-color: $color-fill-light;

    #menu-toggle:checked ~ &,
    &:hover {
      transform: translateX(0);
      width: calc(#{$menu-icons-width} + #{$menu-links-width});
    }
  }
  a {
    padding: 5vh 0;
    display: flex;
    align-items: center;
    align-content: center;
    width: calc(#{$menu-icons-width} + #{$menu-links-width});

    @include media('>phone') {
      &:hover {
        color: $color-fill;
      }
    }
    .menu-icon-container {
      @include centerIcon(1.8rem);
      width: $menu-icons-width;
    }
  }
}

.menu-active {
  color: $color-title;
  cursor: default;
}
