{{/* eventCard.html */}}

<div class="eventCard">
  <div class="eventCard-info">
    <div style="display:flex; justify-content: space-between;">
      <div>
        <h2 class="eventCard-date">
          {{.date.Format "02/01/2006"}} - {{.place}}

        </h2>
        <h1 class="eventCard-name">{{.title}}</h1>
      </div>

      {{if .mini}}

      <label>
        <i
          class="flaticon-right-arrow more-btn"
          style="transform: rotateZ(321deg);"
        ></i>
      </label>

      {{else}}
 {{if ne (len .content) 0}}

      <label>
        <i class="flaticon-null more-btn"></i>
      </label>
      {{end}}
 {{end}}

    </div>
    <div class="truncated-text">{{truncate 80 .content }}</div>
    <div class="full-text">{{.content}}</div>
  </div>

  <!-- prettier-ignore -->
  {{ partial "image.html" (dict "path" ((replace .imgPath "/assets/images/" "") | printf "images/%s") "alt" .title) }}

</div>
