{{/* eventCard.html */}}
<div class="eventCard">
  <div class="eventCard-info">
    {{ $eventDate := (partial "eventIdToDate" .id)}}
    <h2 class="eventCard-date">{{$eventDate}} - {{.place}}</h2>
    <h1 class="eventCard-name">{{.title}}</h1>
    {{ if .mini }} {{truncate 80 .content }}{{else}} {{.content}} {{end}}
  </div>
  <!-- prettier-ignore -->
  {{ partial "image.html" (dict "path" (.id | printf "images/eventi-%s.*") "alt" .id) }}
 {{if not .mini}}
  <i class="flaticon-more"></i>
  {{end}}
</div>
