{{/* image.html */}}
<!-- prettier-ignore -->
{{ $pics := resources.Match .path  }}
{{/*
  partial args:
  - path
  - alt text
  usage example:
    {{ partial "image.html" (dict "path" (.File.BaseFileName | printf "images/progetti-%s.*") "alt" .File.BaseFileName) }}

    */}}
{{range $pics}}
<picture>
  <source
    media="(min-width: 601px)"
    srcset='{{(.Fill "400x400 top").RelPermalink}}'
  />
  <source
    media="(max-width: 600px)"
    srcset='{{(.Fill "200x200 ").RelPermalink}}'
  />
  <img src="{{.RelPermalink}}" alt="{{$.alt}}" />
</picture>
{{end}}
