{{/* image.html */}} {{ $pic :=resources.GetMatch $.path }}
<!-- prettier-ignore -->
{{/*
  partial args:
  - path
  - alt text
  usage example:
    {{ partial "image.html" (dict "path" (.File.BaseFileName | printf "images/progetti/%s.*") "alt" .File.BaseFileName) }}
    */}}
<picture>
  <source
    media="(min-width: 601px)"
    srcset='{{($pic.Fill "600x400 jpg top").RelPermalink}}'
  />
  <source
    media="(max-width: 600px)"
    srcset='{{($pic.Fill "300x200 jpg").RelPermalink}}'
  />
  <img src="{{$pic.RelPermalink}}" alt="{{$.alt}}" />
</picture>
