.education {
  height: 100%;
  &-step {
    flex: 1;
    background-color: rgb(137, 137, 230);
    height: calc(100vh - #{$header-height});
  }
}
.education-navigator {
  $edu-nav-height: 400px;
  $edu-nav-width: 70px;
  width: $edu-nav-width;
  border-radius: $edu-nav-width / 2;
  height: $edu-nav-height;
  position: fixed;
  top: calc(50vh + #{$header-height} / 2 - #{$edu-nav-height} / 2);
  right: 20px;
  z-index: 20;
  background-color: red;
}
