.events {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .eventCard {
    width: 100%;
    display: flex;
    margin: 25px 0;
    box-shadow: $event-card-shadow;
    padding: 30px;
    border-radius: 15px;

    @include media('<tablet') {
      flex-direction: column;
    }

    &-info {
      flex: 3;
      display: flex;
      flex-direction: column;
    }

    &-date {
      color: $color-fill;
    }

    &-name {
      margin: 15px 0;
      color: $color-title;
    }

    picture {
      flex: 1;
      margin: auto 20px;

      img {
        width: 100%;
      }
    }
  }
}
