.home {
  display: flex;
  justify-content: space-between;
  @include media('<tablet') {
    flex-direction: column;
  }
  .info {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 0px 40px;
    @include media('<tablet') {
      padding: 0px 20px;
    }
    .logo {
      display: none;
      @include media('<tablet') {
        display: block;
      }
    }
    p {
      margin: 1.7rem 0;
    }
    #motto {
      font-size: 1.8rem;
      margin-bottom: 3rem;
      line-height: 2.2rem;
    }
    h2 {
      color: $color-fill;
    }
    .home-imgs {
      display: flex;
      width: 100%;
      @include media('<tablet') {
        flex-direction: column;
      }
      img {
        width: 100%;
        padding: 10px;
      }
    }
  }

  .lastEvents {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include media('<tablet') {
      align-items: center;
    }
    @include eventCard(true, false);
  }
}
