.partners {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px 0;
  margin: 20px 0;
  @include media('<tablet') {
    grid-template-columns: 1fr;
  }
  &-card {
    display: flex;
    flex-direction: column;
    picture {
      text-align: center;
      img {
        padding: 10px;
        width: 70%;
        @include media('<tablet') {
          width: 90%;
        }
      }
    }
  }
  h2 {
    text-align: center;
    color: $color-fill;
  }
}
