.team {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  &-icons {
    @include centerIcon(3.7rem, $color-fill);
    width: 100%;
    max-width: 700px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(10px, 200px));
    row-gap: 30px;
    margin: 0 0 120px 0;
    @include media('<tablet') {
      grid-template-columns: 1fr 1fr;
    }

    .groupIcon {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      h2 {
        margin-top: 5px;
        color: $color-title;
        text-transform: capitalize;
      }
    }
  }

  &-descriptions {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 4%;
    align-items: center;
    .groupCard {
      width: 100%;
      margin: 40px 0;
      display: flex;
      justify-content: space-between;

      .icon-container {
        flex: 1;
        display: flex;
        @include centerIcon(6rem, $color-fill);
        i {
          @include media('<tablet') {
            display: none;
          }
        }
      }

      .group-info {
        flex: 4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2 {
          text-transform: capitalize;
          color: $color-title;
          margin-bottom: 10px;
        }
      }
    }
    .group-members {
      line-height: 2rem;
      padding-top: 5px;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: space-around;
      list-style: none;
      text-align: center;
      @include media('<tablet') {
        grid-template-columns: 1fr;
      }
    }
  }
}
